body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family:'Water Resistant Regular', 'Times';
    color:white;
    background-color: black;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.header {
    height: 33.33vh; 
    background-color: black;
    font-size: 20vh;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery {
    top: calc(33.33vh);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: black;
}

@font-face {
    font-family: "Water Resistant Regular";
    src: url('WaterResistant.ttf') format('truetype');
}

a:link,
a:visited {
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#aboveCanvas, #belowCanvas {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    background-color: black;
    color: white; 
}

#headermain {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    background-color: black;
}

#left-link, #right-link {
    flex: 1; 
    font-size: 33px;
    color: white;
}

#left-link{
    text-align: left;
    margin-left: 40px;
    color: white;
}

#right-link{
    text-align: right;
    margin-right: 40px;
    color: white;
}

#logomain {
    flex: 1; 
    text-align: center; 
}

#logomain img {
    max-width: 25%; 
}

#logito{
    position: absolute;
    margin-bottom: 10%;
    max-width: 10%; 
}

#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 9999;
}

#loadingOverlay button {
    padding: 10px 20px;
    font-size: 12px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    outline: none;
}

#mymainCanvas {
    display: none; 
    display: block;
    width: 100;
    height: auto;
    min-height: calc(50vh - 40px); 
    border: none;
    margin-top: 2px; 
    background-color: black;
}

#backButton {
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 999;
    max-width: 40px;
}

h2 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: calc(50% - 5px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    width: 100%;
}

input[type="submit"] {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

input[type="submit"]:hover {
    background-color: black;
    outline-color: white;
    outline-width: 2px;
}

#title {
    height: 33.33vh; 
    background-color: black;
    font-size: 250px;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    padding-top: 35px;
    justify-content: left;
}

#titlesmall {
    height: 33.33vh; 
    background-color: black;
    font-size: 290px;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
}

#titlesmaller {
    height: 33.33vh; 
    background-color: black;
    font-size: 200px;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
}


#logo {
    max-width: 8%;
    align-content: right;
    position: absolute;
    top: 20px; 
    right: 20px; 
}

#myCanvas {
    position: absolute;
    top: calc(33.33vh); 
    left: 0;
    width: 100%; 
    height: calc(100% - 33.33vh); 
}

#descriptionContainer {
    position: absolute;
    bottom: 0; 
    left: calc(5/6 * 100% + 10px);
    z-index: 2;
    padding: 10px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 330px;
    font-family: Arial;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.patterns {
    transform: translate(8.5%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.patterns img {
    max-height: 55%;
}

.vallery {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

.vallery video {
    margin-bottom: 10px; 
}

#special {
    max-height: 25%;
}

.bio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
}

.bioheader {
    height: 20vh; 
    background-color: black;
    font-size: 20vh;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 120px;
}

.cv {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}